target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/




# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store
 
# Maven
log/
target/

# Intellij
.idea/
*.iml
*.iws

# S3 Creds
src/main/resources/s3.properties

bin/
