<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <property name="hibernate.connection.username">project2</property>
      <property name="hibernate.connection.password">p4ssw0rd</property>
      <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
	  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- Additional Hibernate awesomeness -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
      
      <!-- Show SQL Output -->
      <property name="hibernate.show_sql">true</property>
      <property name="hibernate.format_sql">true</property>
      
      <!-- create		drops all existing tables and adds your schema to the database
           validate		just checks to make sure the database has the defined scheme already in it
           update		it will not delete any part of the schema, will simply add to it. -->
	  <property name="hibernate.hbm2ddl.auto">none</property>

      <!-- Validate schema (Used when you don't want hibernate to modify your schema) -->
	  <!--property name="hibernate.hbm2ddl.auto">validate</property>-->
	  
	  <!-- Mapping -->
	  <mapping class="com.revature.project2.models.Trainer"/>
	  <mapping class="com.revature.project2.models.Posts"/>
	  <mapping class="com.revature.project2.models.ProfilePhotos" />
	  <mapping class="com.revature.project2.models.PostsPhotos" />
    </session-factory>
</hibernate-configuration>
